<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
<body>
<div>
    <table align="center">
        <form action="#" th:action="@{/admin/adduser}" th:object="${user}" method="post">
            <tr>
                <td align="center">
                    <label for="name">Name</label>
                    <input type="text" th:field="*{name}" id="name" placeholder="Name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <label for="mail">Mail</label>
                    <input type="text" th:field="*{mail}" id="mail" placeholder="Mail">
                    <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}"></span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <label for="password">Password</label>
                    <input type="text" th:field="*{password}" id="password" placeholder="Password">
                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <label>
                        <select multiple required size="2" th:name="roles" th:field="*{roles}">
                            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.role}"></option>
                        </select>
                    </label>
                </td>
            </tr>
            <tr>
                <td align="center">
                <input type="submit" value="Add User">
                </td>
            </tr>
        </form>
    </table>
    <br/>
    <p align="center"><a href="/admin/userslist">Back to user list</a></p>
    <br/>
    <form th:action="@{/logout}" method="post" align="center">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
</body>
</html>