<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show User</title>
</head>
<body>
    <div>
        <h2 align="center">User</h2>
        <table align="center">
            <thead>
            <tr>
                <th><b>Name</b></th>
                <th><b>Mail</b></th>
                <th><b>Password</b></th>
                <th><b>Role</b></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${user}">
                <td align="center" th:text="${user.name}"></td>
                <td align="center" th:text="${user.mail}"></td>
                <td align="center" th:text="${user.password}"></td>
                <td align="center" th:text="${user.roles}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <p align="center"><a href="/user/userslist">Back to user list</a></p>
    <br/>
    <form th:action="@{/logout}" method="post" align="center">
        <input type="submit" value="Sign Out"/>
    </form>
</body>
</html>